<p>
  <strong>Asset name:</strong>
  <%= @asset.brand %>
</p>
 
<h2>Add a note:</h2>
<%= form_for([@asset, @asset.notes.build]) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>