<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @asset.brand %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @asset.product_name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @asset.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @asset.year %>
</p>

<p>
  <strong>Purchased date:</strong>
  <%= @asset.purchased_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @asset.price %>
</p>

<p>
  <strong>Shop name:</strong>
  <%= @asset.shop_name %>
</p>

<p>
  <strong>Has warranty:</strong>
  <%= @asset.has_warranty %>
</p>

<p>
  <strong>Warranty void date:</strong>
  <%= @asset.warranty_void_date %>
</p>

<h2>Notes</h2>
<% @asset.notes.each do |note| %>
  <p>
    <strong>Note:</strong>
    <%= note.body %>
  </p>

  <p>
    <%= link_to 'Destroy Comment', [note.asset, note],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
 
<h2>Add a note:</h2>
<%= form_for([@asset, @asset.notes.build]) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
